[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 16.0
[submodule "operating-unit"]
	path = operating-unit
	url = git@github.com:OCA/operating-unit.git
	branch = 16.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 16.0
[submodule "grp-core"]
	path = grp-core
	url = git@github.com:sisinfo-odoo/grp-core.git
	branch = 16.0
[submodule "oca"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0
